/* reset */

* {
    margin: 0;
    padding: 0;
    color: #333;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.bg-check {
    background-color: gray;
}

.rel {
    position: relative;
}

.abs {
    position: absolute;
}

.d-flex {
    display: flex;
}

.jcb {
    justify-content: space-between;
}

.aic {
    align-items: center;
}

.ofh {
    overflow: hidden;
}

.h-0 {
    height: 0;
}

.h100 {
    height: 100px;
}

.h300 {
    height: 300px;
}

.h200 {
    height: 200px;
}

.container {
    width: 1200px;
    margin: 0 auto;
}


#hd {
    background-color: lightgray;
}

#hd h1 {
    margin-left: 3rem;
}


#gnb>li>a {
    display: block;
    font-size: 22px;
    padding: 10px 30px;
}

#threeBanner>* {
    width: 33.333%
}

#gnb ul {
    border: 1px solid transparent;
    left: 0;
    right: 0;
    top: 100%;
    text-indent: 2rem;
    /* line-height: 2; */
    max-height: 0;
    overflow: hidden;
    transition: 0.5s;
    background-color: none;
}

#gnb ul li {
    padding: 0.5rem;
}


#gnb>li:hover ul {
    max-height: 500px;
    border-color: #333;
    background-color: #fff;
}


#gnb>li:hover {
    background-color: #000;
    

}